*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(209,233,148,1) 100%);
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 750px;
    margin: 5rem auto;
    border-radius: 30px;
    background: gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logo {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.display {
    background: #FFFAFA;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    padding: 1rem;
    margin-bottom: 1rem;        
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.keyboard {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    margin-bottom: 3rem;
}

#display,
#btn-16,
#btn-17,
#btn-18 {
    position: relative;
}

.numLockStatus {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: gray;
}

.btn-key {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 1.05rem;
    color: grey;
}

.button_number {
    font-size: 3rem;
}

.button_operator{
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 2rem;
}

.button_number:active,
.button_operator:active {
    transform: translateY(4px);
}

.simulate_click {
    background-color: #b1b1b9;
    transform: translateY(4px);
    scale: 0.93;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 1.2rem;
    font-weight: 1000;
}